@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap");
.toggle_btn {

  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: Noto Sans KR;
  font-size: 1.5rem;
}

.toggle_btn.hovered {
  background-color: #0056b3;
  transform: scale(1.1);
}

@media (max-width: 390px) { 
  .toggle_btn {
    top: 1.2rem;
    right: 1rem;
  }
}
