.daily-schedule {
  width: 100%;
  height: 100%;
  padding: 50px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.line-graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notes {
  width:40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note {
  flex:1;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note h2 {
  margin-bottom: 10px;
}

.note p {
  margin-bottom: 10px;
}

.note select {
  width: 10%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.note button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.note button:hover {
  background-color: #45a049;
}

.notes-container {
  justify-content: center;
  display: flex;
  background-color: #AAD6FF;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notes-container {
  background-color: #AAD6FF;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.note input,
.note textarea {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

.note input {
  height: 30px;
}

.note textarea {
  height: 60px;
  resize: none;
}
