@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.main-home-page {
  display: flex;
  justify-content: center; /* 가로로 가운데 정렬 */
  align-items: center;     /* 세로로 가운데 정렬 */
  background-color: #000351;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans';
  font-size: 25px;
  z-index: 1;
}

.main-home-page h1 {
  color: #ffffff;
}

.main-home-page p {
  color: #ffffff;
}

.title {
  width: 100vh;
  height: 100vh;
  padding: 100px;
  position: center;
}

.toggle-container {
  
  padding: 20px;
  display: flex;
  justify-content: left;
  gap: 10px; /* 버튼 사이 간격 조정 */
}

.imagee {
  transform: scale(0.6);
  width: 80%;
  height: 50%;
  left :-330px;
  padding: 100px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}