@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
#team-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #676AC1;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

  }
  
  #team-page h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  #team-page p {
    font-size: 1.2rem;
    color: #333;
  }
  
  .team-page {
    padding: 20px;
    text-align: center;
  }
  
  .team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .team-member {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .team-member:hover {
    transform: scale(1.05); /* 박스 전체에 호버 시 확대 효과 */
  }
  
  .team-member-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  .team-member-image:hover {
    transform: scale(1.1);
  }
  .sns-container {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .sns-icons img {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    vertical-align: middle;
    transition: transform 0.3s ease; /* 아이콘에도 트랜지션 추가 */
  }
  
  .sns-icons img:hover {
    transform: translateY(-5px); /* 호버 시 아이콘을 위로 살짝 이동 */
  }